.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .container-habilidades .informacoes{
    max-width: 110px;
    padding: 20px 10px;    
}

.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i,
.habilidades .container-habilidades .informacoes .item-icon img{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.habilidades .container-habilidades .informacoes:hover .logo {
    background-color: var(--cor-primaria);
}

.habilidades .container-habilidades .informacoes:hover h3{
    color: var(--cor-primario);
}    

.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-normal);
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--cor-primaria); 
      
}

.habilidades .container-habilidades .informacoes .logo i {
    font-size: 8rem;
}

